body{
    margin: 0;
    padding: 0;
}

.bgimg{
    background-image: url(/src/assets/banner.jpg);
    padding: 190px;
    /* opacity: 70%; */
    background-repeat: no-repeat;
    height: 100vh;

}
.row{
    display: flex;
    width: 100%;
}
.col-7{
    /* width: 50%; */


}

.header__content{
    display: flex;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    color: rgb(255, 255, 255);
}

.header__ul{
    list-style-type: none;
    display: flex;
    padding-left: 0px;
    
}
.header__ul li{
    height: 50px;
    width: 50px;
    display: flex;
    border: 2px solid #ccff00;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
.header__ul li:first-child{
    margin-left: 0;

}
.welcomeMsg{
    /* font-size: 40px; */
    /* font-weight: 700; */
}

.header__ul li{
    font-size: 29px;
}
.col-9{
    /* padding-right: 300px; */
    margin-right: 125px;
}