*{
    margin: 0;
    padding: 0;

}

.service{
    background: #1f2235;
    padding: 200px 200px;
    color: #fff;
}
.service__header{
    padding: 49px 20px 4px 20px;
}
.common{
    width: 90%;
    margin: 20px auto;
    text-align: center;
    /* padding-left:  50%; */
    justify-content: center;
}
 .col{
    /* padding-left: 47px; */
    /* margin: 0px 0px 0px 244px; */
 }
 
 .heading{
    margin-bottom:10px;
    font-weight: 500;
    color: #ff4a57;
    font-size: 16px;
}
.mainHeader{
    font-size: 32px;
    margin-bottom: 20px;
}
.mianContent{
    font-size: 16px;
    column-rule-color: #1f2235;
}
.line{
    background: #ff4a57;
    height: 3px;
    width: 200px;
    margin: 10px auto;
}


.service__box{
    padding: 16px;
    background: #1f2235;
    color: #fff;
    margin: 5px;
    border-radius: 27px;
    transition: all 0.2s linear;
}
.service__box:hover{
    background: #ff4a57;

}
.service__box:hover .icon{
    color: #fff;
}
.icon{
    font-size: 40px;
    color: #ff4a57;
    margin-bottom: 7px;  
}
.service__box-header{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;  
}
.service__box-p{
    font-size: 13px;
    margin: 5px 0px 4px 0px;
}
.row-1{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}