*{
    padding: 0;
    margin: 0;
}
.skill{
    width: 100%;
    /* background: #ffffff; */
    /* padding: 100px; */
    padding-top: 68px;
}
.skill__header{
    padding: 30px;
}
.common{

    margin: 20px auto;
    text-align: center;
    /* padding-left:  50%; */
    justify-content: center;
}
.btn-primary{
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    /* border-end-end-radius: 1px; */
    --bs-btn-hover-bg: green;
    outline: auto;
}
.skilllist{
    margin-bottom: 10px;
}