* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}







/* helper */
.common {
  width: 100%;
  margin: 20px auto;
}
p span {
  position: relative;
  top: -8px;
  display: inline-block;
  margin-left: 90px;
  width: 80%;
  height: 2px;
  background: linear-gradient(to right, #ed239f, #1345e6);
  

}

.mainHeader span {
  position: relative;
  top: -8px;
  display: inline-block;
  margin-left: 5px;
  width: 80px;
  height: 4px;
  background: rgba(237, 35, 159, 0.6);
  -webkit-filter: blur(1.4px);
}
.contact__box {
  padding: 16px;
  background: #1c19dd;
  color: #fff;
  margin: 5px;
  border-radius: 27px;
  transition: all 0.2s linear;
}
.header {
  width: 100%;
}
.contact__box:hover .icon {
  color: #1c19dd;
}
.contact__box-p {
  font-size: 13px;
  margin: 5px 0px 4px 0px;
}
.contact__box-header {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}
.icon {
  font-size: 40px;
  color: #d340ae;
  margin-bottom: 7px;
}
.row-1 {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.row {
  display: flex;
  width: 100%;
}
.contact__box:hover {
  background: #d340ae;
}
.heading {
  margin-bottom: 10px;
  font-weight: 500;
  color: #f20dbd;
  font-size: 16px;
}
.mainHeader {
  font-size: 32px;
  margin-top: 100px;
  margin-bottom: 20px;
}















/* navbar css */

.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  background: #1f2235;
  z-index: 1;
  top: 0;
  opacity: 80%;
}
.navbar__container {
  display: flex;
  height: 70px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.navbar__right {
  display: flex;
  list-style-type: none;
}
.navbar__right li a {
  text-decoration: none;
  color: rgb(255, 255, 255) !important;
  font-weight: 500;
  font-size: 20px;
  padding: 0px 15px;
  transition: all 0.1s linear;
  cursor: pointer;
}
.navbar__right li a:hover {
  padding-bottom: 7px;

  border-bottom: 2px solid  #ed239f;
}
.navbar__right li a.active {
  padding-bottom: 10px;
  border-bottom: 2px solid  #ed239f;
  
}
.container {
  width: 1200px;
  margin: 0 auto;
}

/* banner css */
.bgimg {
  background-image: url(/src/assets/banner.jpg);
  padding: 190px;
  background-repeat: no-repeat;
  height: 100vh;
}

.header__content {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: "Roboto", sans-serif;

  color: black;
}

.header__ul {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
}
.header__ul li a {
  height: 48px;
  width: 53px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  /* margin: 1px 2px; */
  text-decoration-color: white;
  text-decoration: none;
  font-size: 30px;
  color: white;
}
.header__ul li:first-child {
  margin-left: 0;
}
.welcomeMsg h2 {
  font-size: 40px;
  font-weight: 600;
}

.btn {
  /* display: inline-block; */
  background: linear-gradient(to right, #ed239f, #1345e6);
  color: #fff;
  /* letter-spacing: 0; */
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 40px;
  padding: 0 38px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  /* text-transform: uppercase; */
  border-radius: 8px;
  /* background-size: 200% auto; */
  text-decoration: none;
  transition: all 0.3s linear;
}

.header__ul li {
  font-size: 29px;
}
.col-9 {
  /* padding-right: 300px; */
  margin-right: 125px;
}













/* about css */
.about {
  width: 100%;
  /* background: #ffffff; */
  /* padding: 100px; */
}

.about__header {
  padding: 18px;
}
.mianContent {
  font-size: 16px;
  column-rule-color: #eb4d4b;
}
/* .mainHeader {
  font-size: 32px;
  margin-bottom: 20px;
} */

/* .about__img img{
  padding: 100px;
} */
.about__img {
  background-image: url(/src/assets/about.png);
  padding: 88px;
  /* opacity: 70%; */
  background-repeat: no-repeat;
  /* height: 100vh; */
  /* position: relative; */
  margin-left: 9rem;
}
.h-21 {
  height: 21rem;
}
.alignCenter {
  align-items: center;
}
.about__info {
  color: #1f2235;
}
.about__info h1 {
  margin-bottom: 30px;
}
.about__info-p1 {
  font-size: 14px;
  margin-bottom: 20px;
}
.about__info-p2 {
  font-size: 14px;
}

.info__contacts {
  margin-top: 2opx;
}
.info__contacts strong {
  color: #eb4d4b;
}
.info__contacts p {
  margin-top: 3px;
}
.info__contacts .col-6 {
  margin: 10px 0;
}

/* contact css  */

.inp {
  justify-content: space-evenly;
  padding: 5px 13px 5px 13px;
  margin-bottom: 8px;
  border-radius: 38px;
}
.details {
  text-align: center;
}





/* skill css */
.skill {
  padding-top: 100px;
}
.skilllist {
  margin-bottom: 20px;
}












